.main-content-container {
  padding: 60px 0;
}

.pokedex-container {
  width: 300px;
  float: left;
  margin-left: 20px;
}

.pokemon-index-ul {
  padding: 0;
}

.pokemon-card {
  width: calc(100%-40px);
  position: relative;
  list-style: none;
  background-color: #fff;
  font-size: 24px;
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 18px -1px rgba(0,0,0,0.15);
  text-align: center;
}

.pokemon-card + .pokemon-card {
  margin-top: 10px;
}

.pokemon-card a {
  display: flex;
  justify-content: space-between;
}

.pokemon-img {
  height: 50px;
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

.big-pokemon-img {
  width: 100%;
  max-height: 200px;
  max-width: 300px;
}

.pokemon-display-container {
  position: fixed;
  top: 94px;
  left: 340px;
  right: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.pokemon-display-container p {
  text-align: center;
  font-size: 20px;
  margin: 0;
}

.pokemon-display-container p + p {
  margin-top: 10px;
}
